include mixin

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
		title Sutas's Portfolio
		// Latest compiled and minified CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		//- Optional theme
		//- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
		// favicon from http://www.freefavicon.com/freefavicons/objects/iconinfo/wood-box-152-194864.html
		link(rel='icon', type='image/x-icon', href='favicon.ico')
		// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		style(type='text/css').
			#headback {
				float: right;
			}
			body {
				background: #302C28;
			}
			.container {
				background: #FFFFFF;
			}
			.inactive {
				opacity: 0.3;
			}
			#filter {
				cursor: pointer; 
				cursor: hand;
			}
	body
		.container
			#title.row
				.col-md-12
					.page-header
						h1(id='headtext') Hello!
							|  
							small What kind of work you're looking for from my portfolio?
							p(id='headback', class='text-right')
								a(class='btn btn-default', href='http://kennyzero.me/') Back to kennyzero.me
			#filter.row
				div(class='col-md-4 filter', data-filtertype='tag-phphtmljs')
					img(class='img-responsive', src='http://placehold.it/360x222')
					h2 PHP, HTML, and JS
					p
						|	PHP is a number one web development language. 
						|	Together with HTML and Javascript, it brings the world of 
						|	world wide web to its current state nowadays.
				div(class='col-md-4 filter', data-filtertype='tag-cppcs')
					img(class='img-responsive', src='http://placehold.it/360x222')
					h2 C++ and C#
					p
						|	Everyone knows that C++ is fast. But to achieve that speed, 
						|	you need to dive deep into the unknown. C#, in the other hand, 
						|	make many development techniques viable for an average programmer.
				div(class='col-md-4 filter', data-filtertype='tag-gamedev')
					img(class='img-responsive', src='http://placehold.it/360x222')
					h2 Game Development
					p
						|	I love games, and that's why I choose to study game development. 
						|	It's a midway between aesthetic and technological advancement. 
						|	One can not make a great game that doesn't run,
						|	and one can not make a perfect game that doesn't appeal.
			
			#filter2.row
				.col-md-12
					|	Also: 
					button(class='btn btn-primary filter', data-filtertype='tag-professional') Professional
					|	 
					button(class='btn btn-success filter', data-filtertype='tag-classwork') Classwork
					|	 
					button(class='btn btn-info filter', data-filtertype='tag-hobby') Hobby
			
			hr
			
			+work('Iconic Encounter (Work in progress)', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	Iconic Encounter is a fighting game with well-known character. 
						|	Join the fight with John Lennon, Audrey Hepburn, Teddy Roosevelt, or Mahatma Gandhi.
						|	Aim at a casual gamer, control is simple for one to enjoy, yet deep enough for an experienced player to benefit from.
						|	Throw an opponent out of the stage, and victory shall be yours.
					p
						|	Iconic Encounter is a graduate-level capstone project. 
						|	It's developed by Katryna Check, Corey Kuchynka, Deandre Chenshaw, Joshua Servin, and myself 
						|	under a supervision of 
						a(href='http://www.brianschrank.com/') Asst Prof Brian Schrank, PhD
						|	.
				.links
					a(class='btn btn-primary', href='http://www.quintforcedev.com/current-build') Website
					|	 
					a(class='btn btn-default', href='https://www.youtube.com/watch?v=9F8QeLj3BA8') Video from Spring Showcase
			
			+work('DKS Digitalkeystore.co.th', 'http://placehold.it/165x220', 'tag-phphtmljs', 'tag-professional')
				.description
					p
						|	Digitalkeystore is Thailand's number one game and gaming peripherals 
						|	online retailer. It uses many automated systems to reduce wasted time 
						|	on both customer and server side. 
						|	In 2013, I wrote a system that automated order fulfillment process.
						|	As of now, I'm a part-time 
						|	Software Engineer overseeing website technical aspect.
				.links
					a(class='btn btn-primary', href='https://dks.in.th/') Storefront
					|  
					a(class='btn btn-default', href='http://digitalkeystore.co.th/') Corporate Site
					
			+work('Yearbeast Tracker', 'http://placehold.it/165x220', 'tag-phphtmljs', 'tag-hobby')
				.description
					p
						|	 New Bloom is a yearly event in 
						a(href='http://blog.dota2.com/') Dota 2
						|	. In 2015, this event allows players to join a special game mode during 
						|	the year beast active time (20 minutes every 2-3 hours).
						|	Yearbeast Tracker is built to solve many problems, namely
					ol
						li Allow estimate time of next year beast (became obsolete half-way through event)
						li Allow player to track the beast without opening Dota 2
						li Allow external services to benefit from tracking data (such as message alert to phone)
					p
						|	Through its lifespan of 3 weeks, it serves over 600,000 users with over 
						|	20 million page views (According to Google Analytics). The cost of this operation, 
						|	surprisingly, is under $50.
				.links
					a(class='btn btn-primary', href='http://2015.yearbeast.com/') Main site
					|  
					a(class='btn btn-default', href='https://github.com/bongikairu/yearbeast2015') Git Repo
			
			+work('iNoteSlide', 'http://placehold.it/165x220', 'tag-phphtmljs', 'tag-classwork')
				.description
					p
						|	iNoteSlide is a cross-platform annotation sharing system aims to integrate technology into 
						|	the ever-changing world of study. It gives students an option to take note directly on learning 
						|	materials on their tablet computer. This system is developed with JavaScript, HTML, and CSS, 
						|	and use PhoneGap as a base framework. It can be deployed on any tablet running iOS or Android, 
						|	but requires connection to the server in order to do some task.	
					p
						|	This project is an undergrad-level capstone project. The development team consists of 
						a(href='https://th.linkedin.com/pub/attaphon-predaboon/42/684/211/th') Attaphon Predaboon
						|	, Sorawit Jaroenbenjawong, and myself under a supervision of 
						a(href='http://www.cp.eng.chula.ac.th/~somchai/index0.htm') Assoc Prof Dr. Somchai Prasitjutrakul
						|	.
				.links
					a(class='btn btn-primary', href='https://drive.google.com/file/d/0B9t-pfvf5EFpanFWX2laRGlYVjA/view?usp=sharing') Presentation Slide 
		
			+work('In-house Game Engine', 'http://placehold.it/165x220', 'tag-cppcs', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	In Ed Keenan's Game Engine class, students are given a task to build a full-fledged game engine in C++.
						|	It's composed of many subsystem, namely Math Engine (Vector, Matrix, and Quaternion), Rendering System, and Object Manager.
						|	Each part can be swapped in and out easily. 
					p
						|	In the second part of the class, students upgrade their engine to support loading of models with animation.
				.links
					a(class='btn btn-primary', href='http://www.cdm.depaul.edu/academics/pages/classinfo.aspx?Term=20152&ClassNbr=20192&fid=718577') Class Website
					|	 
					a(class='btn btn-default', href='https://www.youtube.com/watch?v=YC8LyJmrKDw') Presentation Video 1
					|	 
					a(class='btn btn-default', href='https://www.youtube.com/watch?v=8p7cg4UDcKw') Presentation Video 2
					
			+work('Network-enabled Omega Race', 'http://placehold.it/165x220', 'tag-cppcs', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	In Ed Keenan's Game Networking class, students are tasked with converting an Omega Race X 
						|	(ported version of 
						a(href='http://en.wikipedia.org/wiki/Omega_Race') Omega Race
						|	, an arcade game by Midway)
						|	into a network-enabled multiplayer game. It uses Windows Live for base networking.
				.links
					a(class='btn btn-primary', href='http://www.cdm.depaul.edu/academics/pages/classinfo.aspx?Term=20143&ClassNbr=30494&fid=718577') Class Website
					|	 
					a(class='btn btn-default', href='https://www.youtube.com/watch?v=Y5MZ7-oLWcE') Presentation Video
					
			+work('Optimization of C++ Particle System', 'http://placehold.it/165x220', 'tag-cppcs', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	In Ed Keenan's optimization class, students are given a particle system.
						|	The goal is to make this particle system fast. Many technique is employed to solve this problem, such as
					ol
						li Hot-Cold data structure
						li SIMD
						li Return Value Optimization
						li Implicit Conversion striping
						li Proxy Object
					p
						|	The final product increase speed by 2x (10x for calculation). It renders a vortex of 20k particles under 10 ms, with calculation taken only 1 ms.
				.links
					a(class='btn btn-primary', href='http://www.cdm.depaul.edu/academics/pages/classinfo.aspx?Term=20151&ClassNbr=17026&fid=718577') Class Website
					|	 
					a(class='btn btn-default', href='https://www.dropbox.com/s/zymd56dr7oj2ozl/GameParticles.rar?dl=0') Final Project Executable Download
					
			+work('Web-based Valve\'s Source Model Viewer (Work in progress)', 'http://placehold.it/165x220', 'tag-cppcs', 'tag-gamedev', 'tag-hobby')
				.description
					p
						|	Web-based model viewer that accepts Valve's Source format (MDL, VVD, VMT, VTF). Written in C++ and converted to Asm.js using Emscripten. 
					p(class='text-danger')
						|	Work in progress.
					
			+work('[VR] MockBand', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	MockBand is a VR karaoke game. It uses both head tracking and audio input to provide
						|	feedback in a virtual world.
				.links
					a(class='btn btn-primary', href='https://www.youtube.com/watch?v=2NyhvdtCaCs') Video
					|	 
					a(class='btn btn-default', href='https://www.dropbox.com/s/yboaup8747z84hy/Mockband-0.95.rar?dl=0') Executable Download
				.footnote
					br
					small 
						|	This game is a part of 
						a(href='http://brianschrank.com/vrgames/') VR Game class
					
			+work('[VR] DayGround', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	DayGround is a VR game that aims to provide alternate reality to the player. Its use of vibrant color and lack of shadow
						|	gives the player an unconventional experience.
				.links
					a(class='btn btn-primary', href='https://www.youtube.com/watch?v=XnNrcCkM-UQ') Video
					|	 
					a(class='btn btn-default', href='https://www.dropbox.com/s/yz64bekclpop8mm/DayGround-0.6-NoOVR.rar?dl=0') Executable Download (Non-VR)
				.footnote
					br
					small 
						|	This game is a part of 
						a(href='http://brianschrank.com/vrgames/') VR Game class
			
			+work('[VR] Last night', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	Last Night is a VR game that aims to induce player into an altered state. 
						|	Player starts the game lying down. He or she will then wake up in this VR world 
						|	being sucked into a black hole in the sky. Player has an option to explore the 
						|	surrounding (by only moving his/her head). The game ends when player reaches the black hole.
				.links
					a(class='btn btn-primary', href='http://youtu.be/xRgkkozEoqY') Video
					|	 
					a(class='btn btn-default', href='https://www.dropbox.com/s/paw79qv9jjbggrg/LastNightBuild-1.0.zip?dl=0') Executable Download
				.footnote
					br
					small 
						|	This game is a part of 
						a(href='http://brianschrank.com/vrgames/') VR Game class
					
			+work('[VR] Prey', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	Prey is a VR game that put players into an eye of wildlife. Player can choose to pose either a rabbit or an eagle.
						|	There's no solid goal in this game.
				.links
					a(class='btn btn-primary', href='https://www.youtube.com/watch?v=xyziS1Jqa48') Video
					|	 
					a(class='btn btn-default', href='https://www.dropbox.com/s/8kkgf5n8gjxsd5s/PreyOut-1.1.zip?dl=0') Executable Download
				.footnote
					br
					small 
						|	This game is a part of 
						a(href='http://brianschrank.com/vrgames/') VR Game class
			
			+work('[ART] Rend', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	Rend is a game that let a player controls the size of platforms they're in contact.
						|	Player has to navigate the puzzle world using this trick to reach an exit.
				.links
					a(class='btn btn-primary', href='https://www.dropbox.com/s/8jtw0opldlmkzbr/Rend-v1.0final.zip?dl=0') Executable Download
				.footnote
					br
					small 
						|	This game is a part of 
						a(href='http://www.artgamedev.com/') Art Game class
			+work('[ART] Sweatshop', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	Sweatshop Hero is about making money. Your employee, however, is still a human and their performance drop over time.
						|	You can motivate them to raise their performance, but this will reduce their happiness.
						|	A worker with low happiness has a faster performance drop rate.
						|	When their happiness reach the floor, they rebel.
						|	Your only choice is that you kill them. However, their colleagues are not happy about this.
						|	And you know what will happen next...
						
				.links
					a(class='btn btn-primary', href='https://www.youtube.com/watch?v=f1ReduVsDYg') Video
					|	 
					a(class='btn btn-default', href='https://www.dropbox.com/s/hot73jpmibb3q72/Sweatshop-v1.0final.zip?dl=0') Executable Download
				.footnote
					br
					small 
						|	This game is a part of 
						a(href='http://www.artgamedev.com/') Art Game class
					
			+work('[ART] Insanity Out', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	The game of balance. Too many drugs and you die. Too little drugs and you also die.
				.links
					a(class='btn btn-primary', href='https://www.youtube.com/watch?v=eZzReLWqRPk') Video
					|	 
					a(class='btn btn-default', href='https://www.dropbox.com/s/9czyqh6vyk2s2yd/InsanityOut-v1.0final.zip?dl=0') Executable Download
				.footnote
					br
					small 
						|	This game is a part of 
						a(href='http://www.artgamedev.com/') Art Game class
					
			+work('[ART] Sarkhan', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	You've become the prime minister of Sarkhan country. It's time to gain the money 
						|	you'd spent on election campaign back. You are given choices of campaigns to run.
						|	Each one affects different groups of people and produces different amount of money.
						|	Make the most before your reign ends!
				.links
					a(class='btn btn-primary', href='https://www.youtube.com/watch?v=7N6CL1t6sYk') Video
					|	 
					a(class='btn btn-default', href='https://www.dropbox.com/s/2m0ru5u8arospji/Sarkhan-Win32-Final.zip?dl=0') Executable Download
				.footnote
					br
					small 
						|	This game is a part of 
						a(href='http://www.artgamedev.com/') Art Game class
					
			+work('[ART] Jet Drop', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-classwork')
				.description
					p
						|	Jet Drop is a game that let you control a prototype jet board with 4 thrusters. 
						|	On the controller, Right Shoulder, Left Shoulder, Right Analog Stick, and Left Analog Stick each control one thruster.
						|	Your goal is to reach the bottom without slamming into the wall.
				.links
					a(class='btn btn-primary', href='https://www.youtube.com/watch?v=jUTPQrYE8-k') Video
					|	 
					a(class='btn btn-default', href='https://www.dropbox.com/s/96sl6lrs8yolzpo/JetPackRace-v1.0final.zip?dl=0') Executable Download
				.footnote
					br
					small 
						|	This game is a part of 
						a(href='http://www.artgamedev.com/') Art Game class
					
			+work('Last Stand, Mini Game Project for DKS Arcade', 'http://placehold.it/165x220', 'tag-gamedev', 'tag-professional')
				.description
					p
						|	Last Stand is a shoot-em-up survival style game. You shoot down an enemy ship before it reaches you and kills you.
						|	Special enemy spawns after player reach a certain point. If player still survives, the difficulty increases and
						|	the whole process is restarted.
				.links
					a(class='btn btn-primary', href='https://www.youtube.com/watch?v=5j8BAg4eFNk') Video
		
			footer
				|	By the way, this website is also in HTML and JS category. It's written in Jade and compiled into HTML.
				|	You could 
				a(href='https://github.com/bongikairu/bongikairu.github.io') read its source here
				|	.
		
			br
		
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		// Include all compiled plugins (below), or include individual files as needed
		// Latest compiled and minified JavaScript
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		
		// page js
		script().
			$(function(){
				$('.filter').click(function() {
					if($(this).hasClass('active')) {
						$('.work').fadeIn('fast');
						$('.filter').removeClass('inactive').removeClass('active');
					} else {
						var tag = $(this).attr('data-filtertype');
						$('.work:not(' + tag + ')').fadeOut('fast');
						$('.work.' + tag).fadeIn('fast');
						$('.filter').addClass('inactive').removeClass('active');
						$(this).removeClass('inactive');
						$(this).addClass('active');
					}
				});
			});
		
//- EOF